 <div id="LeftCol">
        <div id="NavOpt">
          <div id="Navtext"><a href="/dashboard"><h3>DASHBOARD</h3></a></div>
          <div id="Navtext"><a href="/notDone"><h3>WORKFLOW</h3></a></div>
          <div id="Navtext"><a href="/notDone"><h3>CALENDAR</h3></a></div>
          <div id="Navtext"><a href="/notDone"><h3>NOTIFICATIONS</h3></a></div>
          <div id="Navtext"><a href="/notDone"><h3>VIEW EMPLOYEES</h3></a></div>
          <div id="Navtext"><a href="/notDone"><h3>Reports #3</h3></a></div>
        </div>	
      </div>
